@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
  --LinearMobile: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --Linear: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.9rem;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  max-width: 100%;
  background-size: cover;
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  min-height: 100vh;
  /* overflow: hidden; */
}

.main-container {
  min-width: 375px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.logo {
  padding: 30px;
  width: 100%;
}

.img-container {
  background-image: url("images/hero-desktop.jpg");
  background-size: cover;
  /* background-position: bottom 20px right 130px; */
  background-repeat: no-repeat;
  width: 100%;
  height: 305px;
  /* overflow: hidden; */
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  margin-top: 40px;
  padding: 10px;
  flex-direction: column;
}

.text-container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 8px;
  color: var(--DesaturatedRed);
}

.text-container h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 8px;
  color: var(--DarkGrayishRed);
}

.coming-soon p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--DesaturatedRed);
  line-height: 1.7;
  letter-spacing: 1px;
  /* padding: 0 0 0 10px; */
  font-weight: 600;
}

.email-button {
  margin-top: 20px;
  position: relative;
}

input {
  max-width: 100%;
  width: 305px;
  outline: none;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  font-size: 1rem;
  color: hsl(0, 39%, 77%);
  border: 1px solid hsl(0, 39%, 77%);
}

input::placeholder {
  color: hsl(0, 32%, 87%);
  font-size: 0.9rem;
  letter-spacing: 1;
}

.email-button button {
  width: 80px;
  height: 60px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  top: 27px;
  left: 250px;
  border: none;
  outline: none;
  border-radius: 30px;
  outline: none;
}

.icon-arrow {
  text-align: center;
  width: 10px;
}

.error-message {
  margin: 6px;
  font-size: 0.9rem;
  color: var(--SoftRed);
}

.icon-error {
  position: absolute;
  top: 50px;
  left: 230px;
  width: 20px;
}

.hidden {
  display: none;
}
