@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
  --LinearMobile: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --Linear: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.9rem;
}

body {
  font-family: "Josefin Sans", sans-serif;
  max-width: 100%;
  font-size: 16px;
  background: url(images/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container {
  background: url(images/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: baseline; */
}

.logo {
  display: none;
}

.text-container {
  width: 500px;
  margin-left: 30px;
}

.coming-soon h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 18px;
  color: var(--DesaturatedRed);
  padding: 0 30px 0 30px;
  /* line-height: 3px; */
}

.coming-soon span {
  color: var(--DarkGrayishRed);
  font-weight: 600;
}

.desktop-logo-container img {
  width: 40%;
  padding: 30px;
  margin-bottom: 130px;
}

.coming-soon p {
  margin-top: 30px;
  padding: 0 30px 0 30px;
  font-size: 0.98rem;
  /* letter-spacing: 1px; */
  line-height: 2;
  color: var(--DesaturatedRed);
}

.email-button {
  margin-top: 50px;
  padding: 0 30px 0 30px;
  position: relative;
}

input {
  width: 85%;
  padding: 15px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  color: hsl(0, 74%, 74%);
  font-size: 0.9rem;
  border: 1px solid hsl(0, 54%, 79%);
}

input:focus {
  border: 1px solid hsl(0, 54%, 79%);
}

input::placeholder {
  color: hsl(0, 74%, 74%);
  font-size: 0.9rem;
  font-style: italic;
}

.icon-error {
  position: absolute;
  right: 170px;
  top: 12px;
  width: 20px;
}

.hidden {
  display: none;
}

button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 15px 30px;
  transform: translateY(-4.5%);
  cursor: pointer;
  border: none;
  border-radius: 30px;
  position: absolute;
  right: 88px;
  transition: 0.3s;
}

button:hover {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 90%));
}

.error-message {
  font-style: italic;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 20px;
  color: var(--SoftRed);
}

@media (max-width: 768px) {
  body {
    background-color: hsl(0, 100%, 98%);
  }
  .logo {
    display: block;
    padding: 25px 30px 0;
  }
  .desktop-logo-container {
    display: none;
  }
  .main-container {
    grid-template-columns: auto;
    overflow: hidden;
    max-width: 100%;
    /* margin: 10px; */
  }
  .img-container {
    background: url(images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1;
    margin: 2rem 0;
    /* background-position: center; */
    width: 100%;
    height: 300px;
  }
  .text-container {
    text-align: center;
    width: 100%;
    grid-row: 2;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .coming-soon h1 {
    font-size: 2.2rem;
    margin-top: 20px;
    letter-spacing: 12px;
  }
  .coming-soon p {
    margin-top: 20px;
    font-size: 0.8rem;
  }
  .email-button {
    margin-top: 30px;
    position: relative;
  }
  input {
    width: 100%;
  }
  button {
    position: absolute;
    right: 20px;
    padding: 14px 30px;
    transform: translateY(-4.5%);
    border-radius: 30px;
  }
  .icon-error {
    right: 90px;
  }
  .error-message {
    font-size: 0.8rem;
  }
}
